.item-title {
	color: blue;
}

.item {
	float: left;
    width: 31%;
    border: 2px solid black;
    background-color: #8b45136e;
}


@media screen and (max-width: 991px) {
	.item {
		width: 49%;
	}
	.last-item {
		width:  100% !important;
	}
}

@media screen and (max-width: 767px) {
  .item {
    width: 100%;
  }
}